.App {
  /* text-align: center; */
}

.col-content {
  /* align-content: center; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.device-type-icon {
  padding: 0.5rem;
}